<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="City list - Gulf Cars">
  <title><%= typeof title !== 'undefined' ? title : '' %> - PAD</title>

  <!-- PECO Resources -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" id="lbmn-google-fonts-css" href="http://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C500%2C700%2C900%7C%7C%7C&amp;subset=latin&amp;ver=4.4.4" type="text/css" media="all">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/dash.css"  type="text/css" >
</head>
