<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
    <br><br>
    <div class="center">
        <a href="/" class="waves-effect red waves-light btn">home</a>
        <a href="/one" class="waves-effect waves-light btn">one</a>
        <a href="/two" class="waves-effect waves-light btn"><i class="material-icons left"></i>two</a>
        <a href="/three" class="waves-effect waves-light btn"><i class="material-icons right"></i>three</a>
    
        </div><br><br><br><br><br>
  <div class="center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div><br><br><br><br><br>
  <div class="center">
    <a href="/students" class="waves-effect waves-light red btn-large">Students service</a>
  </div>
</body>
</html>