<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
    <br><br>
    <div class="center">
        <a href="/" class="waves-effect red waves-light btn">home</a>
        <a href="/one" class="waves-effect waves-light btn">one</a>
        <a href="/two" class="waves-effect waves-light btn"><i class="material-icons left"></i>two</a>
        <a href="/three" class="waves-effect waves-light btn"><i class="material-icons right"></i>three</a>
    
        </div><br><br><br><br><br>
  <div class="center">
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
  </div><br><br><br><br><br>
  <div class="center">
    <a href="/students" class="waves-effect waves-light red btn-large">Students Service</a>
  </div>
</body>
</html>